{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'main_navbar.html' %}
<style >

select option {
  padding: 8px;
}

select option:checked {
  background-color: #a7a7a7;
  color: #fff;
}

</style>

<!-- Main page starts here -->
<section class="pt-5">
  <h1 class="px-3 mt-3 text-center" style="font-size: 30px;">CBT SUBJECTS ALLOCATION </h1>
  <div class="container">
    <div class=" row justify-content-center align-items-center p-3 mb-4">
      <div class="col-md">
        <div class="bg-light p-5">
            <form class="subjectallocationform">
              <div class="mb-2">
                <label for="testselect">Select the Test :</label>
                <select id="testselect" name="Test" class="form-select" aria-label="Default select example" required>
                  <option value="" selected >Select a Test</option>
                  {% for test in tests %}
                  <option value="{{ test.name }}">{{ test.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-2">
                <label for="allocationname">Enter a name:</label>
                <input type="text" name="Name" id="allocationname" class="form-control" required>
              </div>
              <div class="mb-4">
                <label for="dateselect">Select the Test day</label>
                <input id="dateselect" type="date" name="Day" id="allocationname" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="subjectselect">Select the Subjects :</label>
                  <select id="subjectselect" name="questions" class="form-select" multiple size="4" aria-label="Size 4 select example" required>
                  {% for question in questions %}
                  <option value="{{ question.id }}">{{ question.subject }} [{% for questionclass in question.ExamClass.all %} {{questionclass.Class}} {% endfor %}] </option>
                  {% endfor %}
                </select>
              </div>
              <div class="my-4">
                <button type="submit" class="btn btn-primary w-100">Submit allocations</button>
              </div>
            </form>
        </div>
      </div>
      <div class="col-md">
        <div class="p-5">
          <h2 class="mb-3">Test allocated</h2>
          <ul class="list-group">
            {% for testallocated in testgroup %}
            <li class="list-group-item">{{ testallocated.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

          <div class="modal fade" id="submitallocationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-6" id="staticBackdropLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Test allocation submitted successfully
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
            </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
const subjectallocationform = document.querySelector(".subjectallocationform");
const subjectSelect = document.getElementById('subjectselect');
const testselect = document.getElementById('testselect');
const dateselect = document.getElementById('dateselect');
const allocationname = document.getElementById('allocationname');
const submitmodal = document.querySelector('#submitallocationModal');

subjectallocationform.addEventListener('submit', processform);

function processform(e) {
    e.preventDefault();

    // Initialize an array to store selected questions
    const selectedQuestions = [];

    // Iterate through selected options and add values to the array
    for (const option of subjectSelect.selectedOptions) {
        selectedQuestions.push(option.value);
    }

    const formDataObject = {
        Testname: allocationname.value,
        date: dateselect.value,
        testselected: testselect.value,
        questions: selectedQuestions
    };

    // console.log(formDataObject);
    submitgrouptoserver(formDataObject)
    subjectallocationform.reset()
}

function submitgrouptoserver(formDataObject){
  fetch('/testallocation/',{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(formDataObject)
  }).then(response => response.json())
    .then(data => {
  
       $(submitmodal).modal('show');

       setTimeout(() => {
        $(submitmodal).modal('hide');
    }, 3000);
    })
    .catch(error => console.error('Error:', error));
}



</script>
{% include 'main_footer.html' %}
{% endblock %}