{% extends 'base.html' %}
{% load static %}
{% block content%}

<!-- Navbar -->
{% include 'main_navbar.html' %}

<!-- Hero Section -->
{% include '_partials/hero.html' %}

<!-- Target Section -->
{% include '_partials/target.html' %}

<!-- description Section-->
{% include '_partials/description.html' %}


<!-- About -->
{% include '_partials/about.html' %}

<!-- Students -->
{% include '_partials/students.html' %}

<!-- Articles  -->
{% include '_partials/articles.html' with articles=articles %}

<!-- Admission Requirements-->
{% include '_partials/admissions.html' %}

<!-- management Section  -->
{% include '_partials/managements.html' with managements=managements Teachers=Teachers %}

<!-- Gallery -->
{% include '_partials/gallery.html' with photos=photos %}

<!-- FAQ & News Update -->

{% include '_partials/events&faq.html' with FAQ=FAQ events=events %}

<!-- Parents Reviews -->
{% include '_partials/reviews.html' with parentsreviews=parentsreviews %}

<!-- Map & Contact -->
{% include '_partials/map&contact.html' with schools=schools %}
<script src="{% static 'js/home.js' %}"></script>

<!-- Footer -->
{% include 'main_footer.html' %}
{% endblock %}