{% extends 'base.html' %}
{% load static %}
{% block content%}

<!-- Hero Section -->
<section id="Hero">
    <div class="hero_sec_bg"></div>
    <img class="hero_bubbles" src="{% static 'images/bubbles.svg' %}" alt="">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-lg">
                <div class="display1">
                    For Accurate Teaching and Maximum learning
                </div>
                <div class="multiplerule my-3 d-flex justify-content-center justify-content-lg-start">
                    <div class="Nrule"></div>
                    <div class="Nrule2"></div>
                </div>
                <div class="display2">
                    St Marks Standard Secondary School Omagba
                </div>
                <div class="d-flex mt-3 justify-content-center justify-content-lg-start">
                    <a href="/#Requirements" class="text-decoration-none btn btn-primary me-3 shadow-sm">Register Now
                    </a>

                    <a href="#" class="text-decoration-none btn btn-warning shadow-sm">Watch Demo <i
                            class="fa-solid fa-play ms-2"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <div class="hero-features shadow-sm">
                        <div class="feature_item ">
                            <h1>32+</h1>
                            <p>Subjects</p>
                        </div>
                        <div class="feature_item">
                            <h1>700+</h1>
                            <p>Students</p>
                        </div>
                        <div class="feature_item ">
                            <h1>30+</h1>
                            <p>Teachers</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg d-flex justify-content-center">
                <img class="hero_image" src="{% static 'images/Hero Image.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Target Section -->
<section id="Target" class="Target p-4 mt-0">
    <div class="sideline_text mb-2"> Work Target</div>
    <h1 class="mb-4">Our Set Target </h1>
    <div class="d-flex justify-content-center">
        <div class="d-none d-md-flex justify-content-between">
            <div>
                <img class="mb-2" src="{% static 'images/Good moral.svg' %}" alt="" style="width: 75%;">
                <p>Good Morals</p>
            </div>
            <div>
                <img class="mb-2" src="{% static 'images/Academic Excellence.svg' %}" alt="" style="width: 75%;">
                <p>Academic Excellence</p>
            </div>
            <div>
                <img class="mb-2" src="{% static 'images/Creativity.svg' %}" alt="" style="width: 75%;">
                <p>Creativity</p>
            </div>
            <div>
                <img class="mb-2" src="{% static 'images/Innovation.svg' %}" alt="" style="width: 75%;">
                <p class="text-start ps-3">Inovation</p>
            </div>
        </div>

        <!-- for Small Screen  -->

        <div class=" d-md-none">
            <div class="d-flex justify-content-center">
                <div>
                    <img class="mb-2 img-fluid" src="{% static 'images/Good moral.svg' %}" alt=""
                        style="width: 146.5px;height:88.81px;">
                    <p>Good Morals</p>
                </div>
                <div>
                    <img class="mb-2 img-fluid" src="{% static 'images/Excellence.svg' %}" alt=""
                        style="width: 88.81px;height:88.81px;">
                    <p>Academic Excellence</p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <img class="mb-2 img-fluid" src="{% static 'images/Creativity.svg' %}" alt=""
                        style="width: 146.5px;height:88.81px;">
                    <p>Creativity</p>
                </div>
                <div>
                    <img class="mb-2 img-fluid" src="{% static 'images/Innovation.svg' %}" alt=""
                        style="width: 88.81px;height:88.81px;">
                    <p class="text-start ps-3">Inovation</p>
                </div>
            </div>

        </div>
    </div>
    <div>

    </div>
</section>

<!-- Track Section-->
<section id="Track" class="Track py-5 px-3">
    <div class="sideline_text mb-2 text-center"> Visions & Missions </div>
    <h1 class="text-center">Our Tracks</h4>
        <div class="multiplerule mt-2 mb-3 mb-md-0 d-flex justify-content-center">
            <div class="Nrule"></div>
            <div class="Nrule2"></div>
        </div>
        <div class="row px-2 align-items-center justify-content-center">
            <div class="col-md d-flex justify-content-center ">
                <img src="{% static 'images/Track image.png' %}" style="width: min(390px,100%);" alt="" />
            </div>
            <div class="col-md py-5 d-flex d-md-block flex-column align-items-center">
                <div class="Track_Card mb-3">
                    <img class="Track_Card_image" src="{% static 'images/Vision.svg' %}" alt="">
                    <div class="Track_Card_text">
                        <h5 class="Track_Card_text_heading">Vision</h5>
                        <p class="Track_Card_text_body">To initiate a paradigm shift in teaching and learning process
                            which
                            engenders relevant intellectual skills for innovation and holistic development; thus
                            providing vitalisaton to communal and national renaissance.</p>
                    </div>
                </div>
                <div class="Track_Card mb-3">
                    <img class="Track_Card_image" src="{% static 'images/Mission.svg' %}" alt="">
                    <div class="Track_Card_text">
                        <h5 class="Track_Card_text_heading">Mission</h5>
                        <p class="Track_Card_text_body">Our mission is to raise and maintain high standards academically
                            and morally through nurturing of the spiritual, academic, emotional and physical being that
                            will in turn produce creative thinking, applied knowledge, collaborative spirit and
                            leadership skills in a secondary school student.</p>
                    </div>
                </div>
                <div class="Track_Card mb-3">
                    <img class="Track_Card_image" src="{% static 'images/values.svg' %}" alt="">
                    <div class="Track_Card_text">
                        <h5 class="Track_Card_text_heading">Values</h5>
                        <p class="Track_Card_text_body">Teamwork, Integrity, Creativity, Stewardship, Excellence,
                            Passion, Resilience</p>
                    </div>
                </div>
            </div>
        </div>
</section>



<!-- About -->
<section id="About" class="About">
    <img class="Rectangle_about" src="{% static 'images/Rectangle about.svg' %}" alt="">
    <img class="Circle_about" src="{% static 'images/Circle about.svg' %}" alt="">
    <img class="About_bubbles" src="{% static 'images/bubbles.svg' %}" alt="">
    <div class=" About_container row rounded mb-4">
        <div class="col-md col-lg pt-5 py-4 px-5">
            <h4 class="sideline_text">About</h4>
            <h1>Welcome to SMSS OMAGBA</h1>
            <div class="multiplerule my-3 d-flex ">
                <div class="Nrule"></div>
                <div class="Nrule2"></div>
            </div>
            <p class="mb-2 fw-bold mb-3 small">St Marks Standard Secondary School is located in a reserved and serene
                environment fit for learning within Omagba phase 1; is a co-educational, mission secondary school
                under the episcopal leadership of the diocese on the Niger, Anglican communion; which was founded on
                13th September 2010, with F. I Okey as the pioneer principal. We pride ourselves with raising
                morally sound students who through Godly counsels, technological and innovative schemes such as
                skill aquisition classes, social activities and other extra-curricular activities that will help the
                total development of our young ones to take their place in the society
            </p>
            <a href="#" class="btn btn-primary mt-1 mb-2">
                Know more about us <i class="fa fa-angle-double-right ms-1"></i>
            </a>
        </div>
        <div class="col-md col-lg px-0">
            <img src="{% static 'images/front Building Retouched.jpg' %}" class=" img-fluid " alt="...">
        </div>
    </div>
    </div>
    </div>
</section>

<!-- Students Portal -->

<section id="Portal" class="p-2">
    <div class="container">
        <div class="row px-2 align-items-center justify-content-between">
            <div class="col-md text-start">
                <img src="{% static 'images/Portal.png' %}" style="width: max(80%,250px);" alt="" />
            </div>
            <div class="col-md py-5 pt-3">
                <h4 class="sideline_text">Students Section</h4>
                <h1>Student's Portal</h1>
                <div class="multiplerule my-3 d-flex ">
                    <div class="Nrule"></div>
                    <div class="Nrule2"></div>
                </div>
                <p class="fw-bold">
                    Portal for Result Checking and Assessment ,for Payments such as payments of School fees,
                    Textbooks,School Uniforms and other resources, Digital Library where Students can Assess their
                    favourite E-Textbooks, Past Questions and Answers, at their own convinence etc
                </p>
                <!-- Example split danger button -->
                <div class="btn-group p-2">
                    <button type="button" class="btn btn-primary">Visit our Portals and Explore</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'Result_portal:classes' %}">Result Portal</a></li>
                        <hr class="my-1">
                        <li><a class="dropdown-item" href="{% url 'Payment_portal:initiate_payment' %}">Payment
                                Portal</a></li>
                        <hr class="my-1">
                        <li><a class="dropdown-item" href="{% url 'Elibrary:subjects' %}">Digital library</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="hr">
</div>

<!-- Articles  -->

<section id="Articles" class="Articles my-4">
    <div class="text-center sideline_text">Our Articles</div>
    <h1 class="text-center">Educating & Enligtening Articles</h1>
    <div class="multiplerule mt-3 mb-4 d-flex justify-content-center">
        <div class="Nrule"></div>
        <div class="Nrule2"></div>
    </div>
    {% if articles %}
    <div class="Article_container px-2 px-md-4">
        {% for article in articles %}
        <div class="card shadow-sm" style="width: 18rem;">
            <img src="{{ article.thumb.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.snippet|safe }}</p>
                <div class="d-flex justify-content-center mb-2">
                    <a href="" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div id="events" class="mt-3">
        <div class="container-fluid py-5 ps-3 text-center">
            <h5 class="px-3 sideline_text">Articles not available Yet </h5>
        </div>
    </div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <a href="" class=" btn btn-primary mt-4">
            View more Articles
        </a>
    </div>

</section>

<!-- Admission Requirements-->
<section id="Requirements" class="Requirements p-2 mt-4 py-4 ">
    <div class="reqtext container text-center py-4 ">
        <div class="sideline_text text-center text-light">Admissions</div>
        <h1 class=" text-center mb-2 text-light">Admission Requirements</h1>
        <hr style="color: #fff;" />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div>
                    <div class="text-center sideline_text text-light"> Things Needed</div>
                    <ol class=" text-start">
                        <li class="p mb-1" style="color: #fff;">The approved text-books as contained in the recommended
                            list of
                            books.
                        </li>
                        <li class="p mb-1" style="color: #fff;"> Exercise books for junior students includes 5 long
                            notes, 5-80
                            leaves,
                            5-60
                            leaves 15-20 leaves. While for senior include 15 long notes and 15-20 leaves</li>
                        <li class="p  mb-1" style="color: #fff;"> Revised Standard Version Bible, Ancient& modern and
                            student
                            manual
                            Assembly.</li>
                        <li class="p  mb-1" style="color: #fff;"> A pair of black container shoe, Navy blue beret for
                            girls, a
                            pair of
                            white socks
                            and white canvas</li>
                        <li class="p  mb-1" style="color: #fff;"> A wooden locker and wooden back chair (please no iron
                            locker
                            or Seat)
                        </li>
                        <li class="p  mb-1" style="color: #fff;"> 1 packet of white board maker (black), 2 brooms, 1
                            ream of A4,
                            1 Big
                            Tissue <br>
                            <span class="fw-bold " style="color: #fff;">N/B:</span> Please note that all these are
                            subject to
                            review in
                            subsequent
                            times . Also all the items required must be presented before admission
                        </li>
                    </ol>
                </div>
                <h6 class=" text-center fw-bold text-white  mb-2">things not PERMITTED</h6>
                <div>
                    <ol class=" text-start">
                        <li class="p text-white mb-1">Students must not bring personal items such as toys, radio,
                            cameras,</li>
                        <li class="p text-white mb-1"> phones, games, and any sharp objects etc.</li>
                        <li class="p text-white mb-1"> No indiscriminate use of drugs, if a child is on medication the
                            school
                            must be
                            informed.</li>
                        <li class="p text-white mb-1"> Improper dressing. dirtiness and lateness</li>
                    </ol>
                </div>
            </div>

        </div>
        <a href="{% url 'Admission_form:initiate_payment' %}" class="btn btn-secondary mt-1">
            Purchase Entrance Examination Form <i class="fa fa-angle-double-right ms-1"></i>
        </a>
    </div>
</section>

<!-- Teachers Section  -->

<section id="Management" class="Management p-3 py-4">
    <div class="container ">
        <div class="sideline_text text-center">Management</div>
        <h1 class="text-center">Meet the School Management</h1>
        <div class="multiplerule my-3 d-flex justify-content-center">
            <div class="Nrule"></div>
            <div class="Nrule2"></div>
        </div>
        <!-- Slide -->
        <div class="Slide-container swiper">
            <div class="slider_content">
                <div class="slider_wrapper swiper-wrapper">
                    {% for management in managements %}
                    <div class="Slidercard swiper-slide">
                        <div class="card-body d-flex flex-column align-items-center p-0">
                            <div class="card_profile_bg"></div>
                            <div class="card_profile_image_box mb-3">
                                <img src="{{management.Profileimage.url}}" class="profile_image " alt="" />
                            </div>
                            <div class="card-title text-center">
                                <h6 class="mb-0">{{ management.Profilename }}</h6>
                                <p class="text-muted my-1">
                                    {{management.Role}} <br />
                                    {{ management.Phonenumber }}
                                </p>
                            </div>
                            <div>
                                <a href="{{ management.Twitterpage }}"><img class="img-fluid"
                                        src="{% static 'images/twitter icon mag.svg' %}" alt=""></a>
                                <a href="{{ management.Facebookpage }}"><img class="img-fluid"
                                        src="{% static 'images/facebook icon mag.svg' %}" alt="">
                                    <a href="{{ management.Whatsapp }}"><img class="img-fluid"
                                            src="{% static 'images/instagram icon mag.svg' %}" alt=""></a>

                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next swipper-navBtn"></div>
                <div class="swiper-button-prev swipper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="hr"></div>

    <!-- Teachers Section  -->

    <div id="Teachers" class="Teachers container mt-4">
        <div class="sideline_text text-center">Teachers</div>
        <h1 class="text-center">Meet Our Professional Teachers</h1>
        <div class="multiplerule my-3 d-flex justify-content-center">
            <div class="Nrule"></div>
            <div class="Nrule2"></div>
        </div>
        <!-- Slide -->
        <div class="Slide-container swiper">
            <div class="slider_content slider_content2">
                <div class="slider_wrapper swiper-wrapper">
                    {% for Teacher in Teachers %}
                    <div class="Slidercard2 swiper-slide">
                        <div class="card-body d-flex flex-column align-items-center p-0 ">
                            <div class="card_profile_bg2"></div>
                            <div class="card_profile_image_box2 mb-3">
                                <img src="{{Teacher.Headshot.url}}" class="profile_image2" alt="" />
                            </div>
                            <div class="card-title2 text-center">
                                <h6 class="mb-0">{{ Teacher.Name }}</h6>
                                <p class="text-muted my-1">
                                    {{Teacher.Role}} <br />
                                    {{ Teacher.Phone_number }}
                                </p>
                            </div>
                            <div>
                                <a href="{{ Teacher.Twitter_link }}"><img class="img-fluid"
                                        src="{% static 'images/twitter icon Teacher.svg' %}" alt=""></a>
                                <a href="{{ Teacher.Facebook_link }}"><img class="img-fluid"
                                        src="{% static 'images/facebook icon Teacher.svg' %}" alt=""></a>
                                <a href="{{ Teacher.Instagram_link }}"><img class="img-fluid"
                                        src="{% static 'images/instagram icon Teacher.svg' %}" alt=""></a>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next swipper-navBtn swiper-button-next2 swipper-navBtn2"></div>
                <div class="swiper-button-prev swiper-button-prev2 swipper-navBtn swipper-navBtn2"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>



<!-- Gallery -->

<section id="gallery" class="gallery py-4 mb-3">
    <div class=" container py-4 mb-0 text-center">
        <div class="sideline_text text-center">Photo Catalog</div>
        <h1 class="fw-bold">View Our Photo Gallery</h1>
        <div class="d-flex justify-content-center">
            <div class="Photogallery">
                {% for picture in photos %}
                <img class="grid_img img-fluid  img-thumbnail" src="{{ picture.imageURL }}" alt="">
                {% endfor %}
            </div>
        </div>

        <a href="{% url 'gallery' %}" class=" btn btn-primary mt-3">
            see more Pictures
        </a>
    </div>
</section>

<!-- FAQ & News Update -->

<section id="FAQ" class="FAQ_News p-2 pb-4 my-4">
    <div class="sideline_text text-center">be kept abrest with our news and update</div>
    <h1 class="text-center">Events Update & FAQ</h1>
    <div class="multiplerule my-3 d-flex justify-content-center">
        <div class="Nrule"></div>
        <div class="Nrule2"></div>
    </div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md pt-3">
                {% if events %}
                {% for event in events %}
                <div class="Events_Card mb-3">
                    <img class="Events_Card_image d-none d-sm-block d-md-block" src="{{ event.Flier.url }}" alt="">
                    <div class="Events_Card_text py-3 ">
                        <h5 class="Events_Card_text_heading">{{ event.Eventtitle }}</h5>
                        <div class="Events_Card_text_body">
                            {% if event.Eventspeaker_Chairman %}
                            <div class="Event_time_p">
                                Speaker : {{ event.Eventspeaker_Chairman }}
                            </div>
                            {% endif %}
                            <div class="Event_time_p">
                                Venue : {{ event.Eventvenue }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-4 align-items-center">
                            <div class="Events_Card_details d-flex d-flex justify-content-between align-items-center">
                                <img class="Event_time_icon" src="{% static 'images/Event_time_icon.svg' %}" alt="">
                                <div class="Event_time_p ms-2">
                                    {{ event.Eventtime }}
                                </div>
                            </div>
                            <div class="Events_Card_details mx-3 d-flex justify-content-between align-items-center">
                                <img class="Event_date_icon" src="{% static 'images/Event_date_icon.svg' %}" alt="">
                                <div class="Event_time_p ms-2">
                                    {{ event.Eventdate }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}

                {% else %}

                <div id="events">
                    <div class="container-fluid py-5 ps-3 text-center">
                        <h5 class="px-3">no Events yet !!</h5>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md">
                <div class="accordion text-dark accordion-flush" id="questions">
                    <!-- Item 1 -->
                    <div class="container" style="max-width: 400px;">
                        {% for question in FAQ %}
                        <div class="accordion-item">
                            <h5 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#question-{{ question.questionnumber}}"
                                    style="font-family: 'League Spartan', sans-serif;">
                                    {{ question.Questions }}
                                </button>
                            </h5>
                            <div id="question-{{ question.questionnumber}}" class="accordion-collapse collapse"
                                data-bs-parent="#questions">
                                <div class="accordion-body">
                                    {{ question.Answer }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Parents Reviews -->
<div class="hr"></div>
<section id="review" class="Review mb-5">
    <div class="container mt-4">
        <p class="sideline_text text-center mb-0 ">School Review</p>
        <h1 class="text-center  fw-bold">Reviews from our Parents</h1>
        <div class="multiplerule my-3 d-flex justify-content-center">
            <div class="Nrule"></div>
            <div class="Nrule2"></div>
        </div>
        {% if parentsreviews %}
        <div class="Slide-container swiper">
            <div class="slider_content">
                <div class="slider_wrapper swiper-wrapper">
                    {% for review in parentsreviews %}
                    <div class="ParentSlidercard swiper-slide">

                        <!-- Position differently -->
                        <div class="card_profile">
                            <div class="card_profile_image_box me-2">
                                <img src="{{review.Profileimage.url}}" class="parents_profile_image " alt="" />
                            </div>


                        </div>
                        <div class="card-title ms-2">
                            <h6 class="mb-0">{{ review.Name }}</h6>
                            <p class=" my-1">
                                {{review.Occupation}} <br />
                            </p>
                        </div>
                        <img class="card_profile_icon" src="{% static 'images/Quote icon.svg' %}" alt=""
                            class="img-fluid">
                        <!-- ////////////// -->


                        <div class="card-text fw-bold">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus temporibus illum ea
                            porro quam ab odit, deserunt deleniti sit officiis nesciunt aliquam est? Ad libero quod quia
                            accusamus aut perspiciatis ipsum veritatis blanditiis doloribus voluptates laudantium labore
                            laboriosam quam recusandae assumenda, consectetur
                        </div>
                        <div class="card-bg"></div>

                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next swipper-navBtn"></div>
                <div class="swiper-button-prev swipper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        {% else %}
        <div id="events" class="mt-3">
            <div class="container-fluid py-5 ps-3 text-center">
                <h5 class="px-3 sideline_text">no Reviews yet </h5>
            </div>
        </div>
        {% endif %}
        <!-- Slide -->
    </div>
</section>

<!-- Map & Contact -->
<section id="contact" class="Contact_form mt-5 py-5">
    <div class="Contact_form_container px-0 px-md-4 pt-4 py-md-4">
        <div class="row justify-content-between align-items-center">
            <div class="col-md d-flex flex-column align-items-center">
                <div class="sideline_text">Contact form </div>
                <h1 class="text-center fw-bold mb-3">Send us your feedback</h1>
                <div class="multiplerule my-3 d-flex justify-content-center">
                    <div class="Nrule"></div>
                    <div class="Nrule2"></div>
                </div>
                <div style="width: min(100%,465px)" class="d-flex flex-column align-items-center px-5 d-none">
                    <ul class="list-group list-group-flush fs-6 ">
                        {% for info in schools %}
                        <li class="contact_list list-group-item">
                            <span class="fw-bold me-2"><i class="fa-solid fa-envelope"></i></span> {{info.Emailaddress}}
                        </li>
                        <li class=" contact_list list-group-item">
                            <span class="fw-bold me-2"><i class="fa-brands fa-whatsapp"></i></span> {{info.Whatsapp}}
                        </li>
                        <li class="contact_list list-group-item">
                            <span class="fw-bold me-2"><i class="fa-solid fa-location-dot"></i></span>
                            {{info.Schoollocation}}
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- Contact form trigger  -->

                    <!-- <div id="contactform_trigger" class="btn btn-primary w-75 mt-5 shadow-sm"> Send us a Message Today
                        <i class="fa-solid fa-message ms-3" style="color:white;"></i>
                    </div> -->

                    <!-- ////////////////  -->

                </div>
                <div class="mt-4 d-flex flex-column align-items-center px-2">

                    <!-- Alert after Submission  -->

                    <!-- <div class="alert" id="contact_form_alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        your feedback have been taken, we will respond to you shortly
                    </div> -->

                    <!-- ////////////////  -->


                    <form action="#" id="contact_form" class="form"
                        style="width: 280px;font-weight: 600; color: #052640;">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Name</label>
                            <input type="text" name="Name" class="form-control" id="exampleFormControlInput1"
                                placeholder="enter your name" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                            <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="6"
                                required></textarea>
                        </div>
                        <button value="submit" type="submit" class="btn btn-primary w-100 mb-2 shadow-sm"
                            style="display:block;"> Send
                            Message</button>
                    </form>
                </div>
            </div>
            <div class='col-md d-flex flex-column align-items-center mt-4 mt-md-0'>
                <div id='map' style='width: 100%; height: 500px;' class="shadow-sm"></div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}