{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center pt-3 mt-4">
        <h1 style="font-size: 32px;">Photo Gallery</h1>
        <div class="multiplerule mt-3 d-flex justify-content-center">
                <div class="Nrule"></div>
                <div class="Nrule2"></div>
        </div>
        <p class="mt-3">View our Photo Gallery to see the Awesome pics of Our Students at different occasions at
               St Marks Standard Secondary School</p>
</div>
<section id="Files" class="container p-3 pt-2  mb-3">
        <div class="grid">
                {% for photo in photos %}
                <div class="Photo_card rounded">
                        <a href="{{ photo.imageURL }}" class="text-decoration-none"><img src="{{ photo.imageURL }}" class="card-img-top" alt="..."> </a> 
                         <div class="card-body">
                           <p class="pb-0 mb-0">{{ photo.Description }}</p>
                           <p class="mb-0">Click on the Picture to Expand <i class="fa-solid fa-up-right-and-down-left-from-center ms-2"></i></p>
                         </div>
                       </div>
                {% endfor %}
        </div>
</section>
{% endblock %}