{% extends 'base.html' %}
{% load static %}
{% block content%}
<section class="p-2">
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-success alert-dismissible fade show px-0 px-md-5 mx-0 mx-md-5 mt-4 d-flex align-items-center"
		role="alert">
		<i class="bi bi-check-circle-fill mx-3 text-success h3"></i>
		<strong>Hi {{ payment.Name_of_student }}</strong> Your Application have been recorded Successfully
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	{% endif %}

	<!-- Page Content  -->
	<div id="container_details" class="container mt-3 px-0 px-md-5">
		<div class="p-2 d-block d-md-flex align-items-md-center justify-content-md-between">
			<div class="p-2 d-flex d-md-block justify-content-center ">
				<img src="{% static 'images/St Marks Logo.png' %}" style="width:90px" />
			</div>
			<div class="text-center">
				<h2 class="text-center" style="font-size:30px;">
					St marks Standard Secondary School Omagba
				</h2>
				<h5 class="fw-normal">motto: Knowledge is Power</h5>
			</div>

			<div class="d-none d-md-block text-center mx-2 p-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-bounding-box "
					viewBox="0 0 16 16" style="width: clamp(60px, 1vw, 75px);">
					<path
						d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
					<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
				</svg>
				<div class="small mt-1">Attach Passport</div>
			</div>
		</div>

		<div class="container-md">
			<hr>
			<h4> Student's Data </h4>
			<hr>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>
							<span class="fw-bold"> Name : </span>
						</td>
						<td>
							{{object.firstName}} {{object.MiddleName}} {{object.lastName}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="fw-bold"> address : </span>
						</td>
						<td>
							{{object.address}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="fw-bold"> Gender: </span>
						</td>
						<td>
							{{object.gender}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="fw-bold"> Class: </span>
						</td>
						<td>
							{{object.class_applying_for}}
						</td>
					</tr>
					{% if payment.verified %}
					<tr>
						<td>
							<span class="fw-bold"> Payment Status: </span>
						</td>
						<td>
							Successful <i class="bi bi-check-circle-fill ms-2 text-success"></i>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td>
							<span class="fw-bold"> Payment ref : </span>
						</td>
						<td>
							{{ payment.ref }}
						</td>
					</tr>
					<tr>
						<td>
							<span class="fw-bold"> Application id:</span>
						</td>
						<td>
							{{object.application_id}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="fw-bold"> CBT Password: </span>
						</td>
						<td>
							{{object.Password }}
						</td>
					</tr>
					<tr>
						<td>
							<span class="fw-bold"> Date/Time of Payment :</span>
						</td>
						<td>
							{{ payment.date_created }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="container-md mt-2">
			<i class="fa-solid fa-triangle-exclamation me-3 text-warning h3"></i> <strong>Note:</strong> download the Application slip and print it out , attach your recent Passport (very important) and take it along with you to the Exam Hall, it will be requested from you , upon arrival at the Exam Venue for Confirmation  
		</div>
		<div class="container-md mt-2 d-flex justify-content-center">
			<img src="{% static 'images/Admission_Code.png' %}" style="max-width:145px;" alt="">
		</div>
	</div>
	<div class="container mt-3 px-0 px-md-5">
		<a id="details_btn" class="btn btn-primary my-3" style="font-family: 'League Spartan', sans-serif;">
			<span class="spinner-border spinner-border-sm d-none ms-1" role="status" aria-hidden="true"></span>
			 download Application slip
		</a>
	</div>
</section>
<script src="{% static 'js/admission.js' %}"></script>
{% endblock %}