{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="Ebooks_container pt-4">
  <!-- Remember to add number of downloads and views later -->
  <div class="container p-3">
    <div class="d-block d-md-flex align-items-center">
      <div>
        <div class="sideline_text">Welcome to Science Category</div>
        <h1 style="font-size: 30px;">{{ ebooksubject.Sub}} E-Textbooks</h1>
        <div class="multiplerule my-3 d-flex ">
          <div class="Nrule"></div>
          <div class="Nrule2"></div>
        </div>
      </div>

      <form class="ms-auto">
        <div class="input-group news-input mx-0 mx-md-3 mb-4">
          <input type="text" id="myInput" onkeyup="myFunctionb()" class="form-control"
            placeholder="type in a keyword" />
          <button class="btn btn-md" type="submit" value="Save" style="background-color: #00072B; color:white;"><i
              class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>


    <!-- Books Showcase -->
    <div class="row justify-content-between justify-content-center">
      <div class="col-md-6 d-flex justify-content-center">
        {% if not ebooks%}
        <div class="No_Book_container mb-3">
          <i class="bi bi-file-earmark-text h1"></i>
          <h3 style="font-family: 'League Spartan', sans-serif;">Ebooks not available yet </h3>
        </div>
        {% else %}
        <ul id="myUL" class="list-group-flush p-0">
          {% for ebook in ebooks %}
          <li style="display:flex; justify-content: center; align-items: start;" class="list-group-item">
            <div class="p-2">
              <a href="{% url 'Elibrary:ebookdetail' ebook.id %}" class="text-decoration-none">{{ ebook.EbookTitle }}</a>
              <p class="text-secondary"> {{ ebook.Ebookauthor}} <br>
                <span class="small">{{ ebook.date_uploaded}}</span> <span class="fw-bold">{{ebook.download_set.count }} downloads</span>
              </p>
            </div>

            <img src="{{ebook.Ebookimage }}" class="ms-auto img-fluid mb-3" alt="" style="max-width: 90px;" />

          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <!-- Other Categories -->
      <div class="col-md-4">
        <h5 class="mb-3">Other Categories you can Explore</h5>
        <div class="hr mb-3"></div>
        <div class="category_grid">
          {% for category in categories %}
          <div class="grid_item mb-3">
            <div class="d-flex align-items-center">
              <img src="{{ category.iconURL }}" alt="">
              
              <!-- Hidden form -->
              <form action="{% url 'Elibrary:ebooklist' %}" method="POST" class="mx-2">
                {% csrf_token %}
                <!-- Input Student ID -->
                  <input type="text" class="form-control"
                    name="student_id" value="{{ student.student_id }}" style="display: none;">
                <!-- Input your Student Password -->
                  <input type="text" name="student_password" class="form-control" value="{{ student.student_password }}" style="display: none;">
                <!-- Select Category interested in  -->           
                  <input type="text" name="Subject_Category" class="form-control" value="{{ category.id }}" style="display: none;">           
                <!-- Submit Button  -->
                <button class="cate_button btn-secondary btn btn-md " type="submit" value="submit">{{ category.Sub }}</button>
              </form>

            </div>
          </div>
          {% endfor %}
        </div>

        <div class="Quote_container mt-4">
          <img class="card_profile_icon" src="{% static 'images/Quote icon.svg' %}" alt="" class="img-fluid">
          <p>
            The more that you read, the more things you will know .the more that you learn. the more places you will go
          </p>

        </div>
      </div>
    </div>

  </div>
</section>

<script src="{% static 'js/list.js' %}"></script>
{% endblock %}