{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'main_navbar.html' %}
<link rel="stylesheet" href="{% static 'css/Multiple_select.css' %}">
<section>
	<div id="paymentcover">
		<div id="teacherswrapper">
			<div id="aboutcover-text">Payment Portal </div>
			<div style="color: #fff;">SMSS Omagba</div>
			<div class="multiplerule mt-3 d-flex justify-content-center">
				<div class="rule"></div>
				<div class="rule2"></div>
			</div>
		</div>
	</div>
	<div class="container payment_container mt-2">
		<h3 style="font-family: 'League Spartan', sans-serif;" class="text-center">Initiate Payment for School fees and
			other
			items
		</h3>

		<!--Make payment Form  -->
		<div class="form-group  my-3  mb-4">
			<form method='POST' id="form">
				{% csrf_token %}
				<div class="row align-items-start justify-content-center my-4">
					<!-- The First Side  -->
					<div class="col-md-4 p-3 me-3">
						<div style="max-width: 312px; margin: 0 auto;">

							<!-- Payment Instructions -->
							<div class="payment_instruction_card p-3 shadow-sm mb-2">
								<h6 class="text-center fw-bold">
									How to make Payments through our Portal
								</h6>
								<hr>
								<div class="ps-3">
									<div class="d-flex">
										<i class="bi bi-check-circle-fill me-2 text-warning"></i>
										<p>enter the name of the Student</p>
									</div>
									<div class="d-flex">
										<i class="bi bi-check-circle-fill me-2 text-warning"></i>
										<p>select his/her Class </p>
									</div>
									<div class="d-flex">
										<i class="bi bi-check-circle-fill me-2 text-warning"></i>
										<p>Select the type of payment you want to make example School fees payment</p>
									</div>
									<div class="d-flex">
										<i class="bi bi-check-circle-fill me-2 text-warning"></i>
										<p>enter an active Email and press 'submit' to initiate payment</p>
									</div>
								</div>
							</div>
							<div class="text-center mt-1">
								<img src="{% static 'images/paystack-logo-vector.png'  %}" alt="" class="img-fluid"
									width="110">
								<img src="{% static 'images/Visa_Card-removebg-preview.png'  %}" alt=""
									class="img-fluid ms-2" width="100">
							</div>
						</div>

					</div>

					<!-- The Second Side  -->
					<div class="col-md-4 ">
						<h5 class="my-3 fw-bold">Payment Details</h5>
						<div class="mb-3">
							<input type="text" class="form-control" placeholder="enter the Student Name" required
								name="name">
						</div>
						<div class="mb-3">
							<select class="form-select" aria-label="Default select example" required name="term">
								<option value="">Select your Academic Term</option>
								<option value="First Term">First Term</option>
								<option value="Second Term">Second Term</option>
								<option value="Third Term">Third Term</option>
							</select>
						</div>
						<div class="mb-3">
							<select class="form-select" aria-label="Default select example" required name="class">
								<option value="">Select your Class</option>
								{% for class in Class_list %}
								<option value="{{ class.Class }}">{{ class.Class }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="mb-3">
							<input type="email" class="form-control" required name="email"
								placeholder="enter your active email address">
						</div>
						<div class="mb-3">
							<div class="select">
								<select id="mySelect" multiple name="type">
									{% for payment_type in payment_category %}
									<option value="{{ payment_type.id }}" data-price="{{ payment_type.amount }}"
										class="p-2">{{ payment_type.description }} - ₦{{ payment_type.amount }}
									</option>
									{% endfor %}
								</select>
								<div class="select-box">
									<span>Select one or more Payment items :</span>
									<i class="fas fa-caret-down"></i>
								</div>
								<div class="dropdown">
									<div class="search">
										<input type="text" placeholder="Search options">
									</div>
									<div class="options">
										{% for payment_type in payment_category %}
										<div class="dropdown-item">
											<input type="checkbox" id="option {{ forloop.counter }}"
												value="{{ payment_type.id }}">
											<label for="option {{ forloop.counter }}">{{ payment_type.description }} -
												₦{{ payment_type.amount }} </label>
										</div>
										{% endfor %}

									</div>
								</div>
							</div>
							<input type="hidden" name="item_ids[]" id="item_ids">
						</div>






						<!-- Final Submit button -->
						<button type="submit" class=" w-100 btn btn-primary"
							style="font-family: 'League Spartan', sans-serif;">Submit
						</button>

					</div>
				</div>
			</form>
		</div>
	</div>

</section>


<script src="{% static 'js/mutiple_select.js' %}"></script>

{% include 'main_footer.html' %}
{% endblock %}