{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'main_navbar.html' %}
<section class="mb-5">
	<div class="container p-5 mt-5 text-center ">
		<h6 style="font-family: 'League Spartan', sans-serif;">Hi {{ payment.Name_of_student }} , you are about to make
			payment for the following items:
			<span class="fw-bold" style="font-family: 'Lato', sans-serif;">({{ term }})</span>
		</h6>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered" style="max-width: 400px;">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Payment Type</th>
						<th scope="col">Amount</th>
					</tr>
				</thead>
				<tbody>
					{% for type in payment.Payment_type.all %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ type.description}}</td>
						<td>{{ type.amount}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<h4 class="mt-2 fw-bold" style="font-family: 'Lato', sans-serif;" class="fw-bold">Total Amount - ₦{{payment.total_amount }}</h4>
		<button class="btn btn-primary" onclick="payWithPaystack()"> proceed with payment </button>
	</div>
	<div class="text-center">
		<p class='mb-0'>powered and secured by paystack <i class="fa-solid fa-lock ms-2"></i></p>
		<img src="{% static 'images/paystack-logo-vector.png'  %}" alt="" class="img-fluid" width="110">
		<img src="{% static 'images/Visa_Card-removebg-preview.png'  %}" alt="" class="img-fluid ms-2" width="100">
	</div>
</section>

<script type="text/javascript">
	function payWithPaystack() {
		var handler = PaystackPop.setup({
			key: '{{ paystack_public_key }}', // Replace with your public key
			email: '{{ payment.Email }}',
			amount: '{{ payment.amount_value }}',
			ref: '{{ payment.ref }}',
			callback: function (response) {
				window.location.href = "{% url 'Payment_portal:verify_payment' payment.ref %}";
			}
		});
		handler.openIframe();
	}
</script>

{% include 'main_footer.html' %}
{% endblock %}