{% extends 'base.html' %}
{% load static %}
{% block content%}

<div id="container_result2">
<section class="p-2 mt-3">
	<div class="d-flex flex-column align-items-center ">
		<img src="{% static 'images/St Marks Logo.png' %}" alt="..." class="brand_image schoollogo img-fluid">
		<h1 class="text-center" style="font-size:30px;">
			Online payment Receipt
		</h1>
		<div class="multiplerule mb-3 d-flex justify-content-center">
			<div class="rule"></div>
			<div class="rule2"></div>
		  </div>
	</div>
</section>
<!-- Students Data -->
<section class="Receipt p-2">
	<div class="container px-3 table-responsive d-flex justify-content-center">
		<table class="table table-bordered" style="max-width: 500px;">
			<tbody>
				<tr>
					<td>
						<span class="fw-bold"> Name : </span>
					</td>
					<td>
						{{receipt.Name_of_student}}
					</td>
				</tr>
				<tr>
					<td>
						<span class="fw-bold"> Class : </span>
					</td>
					<td>
						{{receipt.student_class }}
					</td>
				</tr>
				<tr>
					<td>
						<span class="fw-bold"> Email : </span>
					</td>
					<td>
						{{receipt.Email}}
					</td>
				</tr>
				<tr>
					<td>
						<span class="fw-bold"> Payment type : </span>
					</td>
					<td>
						{{receipt.Payment_type}}
					</td>
				</tr>
				{% if receipt.verified %}
				<tr>
					<td>
						<span class="fw-bold"> Payment Status: </span>
					</td>
					<td>
						Successful
					</td>
				</tr>
				{% endif %}
				<tr>
					<td>
						<span class="fw-bold"> Payment ref : </span>
					</td>
					<td>
						{{ receipt.ref }}
					</td>
				</tr>
				<tr>
					<td>
						<span class="fw-bold"> Date/Time of Payment : </span>
					</td>
					<td>
						{{ receipt.date_created}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
</div>
<div class="hr mb-2"></div>
<section class="p-2 mb-4 text-center">
	<a id="reciept_btn" class="btn btn-primary" style="font-family: 'League Spartan', sans-serif;"> download receipt<i class="fa fa-download ms-1"></i></a>
	<a class="btn btn-warning ms-2 " style="font-family: 'League Spartan', sans-serif;" href="{% url 'home' %}"> back to
		home <i class="fa-solid fa-house"></i></a>

</section>

<script src="{% static 'js/Receipt.js' %}"></script>
{% endblock %}