
#Elibrarycover {
    width: 100%;
    height: 250px;
    /* background: #00072B; */
    position: relative;
    background-image: url('../images/E-library Cover.jpg');
    background-position: center;
    background-size: cover;
}

#Elibrarycover::before {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  #Elibrarywrapper {
    position: relative;
    z-index: 1;
    top: 50%;
    padding: 0 80px;
    transform: translateY(-50%);
    text-align: center;
  }
  
.Elibrary_about{
    background-color: var(--cream-color);
    border-left: #d8a407 solid 5px;
}

.category_container li{
 background-color: var(--cream-color);
}

.cate_button.btn-secondary{
    background-color: var(--bg-light);
    outline: None ;
    border: none;
}

.category_container li a{
    color: var(--Wine-red);
    font-weight: bold;
}

.welcome_container{
    background-color: var(--bg-light);
}

/* Ebooks Page */

.Ebooks_container{
    background-color: var(--bg-light);
}

.Ebooks_container #myUL{
    box-shadow: var(--big-card-shadow);
  }

.Ebooks_container #myUL a{
  color: var(--Wine-red);
  font-family: var(--main-font-family);
  font-weight: bold;
}

.Ebooks_container #myUL .list-group-item:nth-child(1){
    /* background-color: var(--cream-color); */
    padding-top: 25px;
  }

.category_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.category_grid img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.category_grid a{
  color: var(--Wine-red);
  font-weight: 700;
}

.Ebooks_container h5{
    color: var(--Wine-red);
    font-weight: 600; 
}

.Quote_container{
    background-color: var(--bg-dark-cream);
    padding: 20px;
    position: relative;
}


.Quote_container p{
    font-weight: 600;
    color: #000;
}

.Book_details h4{
    color: var(--Wine-red);

}

.No_Book_container{
    background-color: var(--bg-dark-cream);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}