#paymentcover {
    width: 100%;
    height: 260px;
    /* background: #00072B; */
    margin-bottom: 20px;
    position: relative;
    background-image: url('../images/Payment Portal.jpg');
    background-position: center;
    background-size: cover;
  }
  
  #paymentcover::before {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0.1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.payment_instruction_card{
    background-color: var(--bg-light);
}


.payment_container input {
  background-color: var(--bg-light);
  border: 1.8px solid var(--bg-dark-cream);
  outline: none;
}

.payment_container select {
  background-color: var(--bg-light);
  border: 1.8px solid var(--bg-dark-cream);
  outline: none;
}