{% extends 'Teachers_navbar.html' %}
{% load static %}
{% block content%}

<section class="p-3 py-4">
    <nav class="ms-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'Teachers_portal:Teachers_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Class Analytics</li>
        </ol>
    </nav>
    <hr>
        <div class="container-fluid px-4">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h1 class="mt-4">Class Attendance</h1>
                <ol class="breadcrumb mb-4">
                    
                    {% if teacher.FirstName == "None" %}
                    <div><a href="{% url 'Teachers_portal:profile' teacher.id %}" class="text-decoration-none"> edit your Teachers Profile to perform futher Action </a></div>
                    {% else %}
                    <li class="breadcrumb-item active">Welcome Teacher {{ request.user }}</li>
                    {% endif %}  
                    
                </ol>
            </div>         
            <div class="d-flex flex-column align-items-center justify-content-center mt-3">
                <img src="{% static 'images/WorkingResult.png' %}" alt="" class="img-fluid" style="width: 35%; max-width: 160px;">
                <div class="mt-3"> we are working on Something Massive </div>
                <div>Stay put </div>
            </div>
        </div>
</section>
{% endblock %}