{% extends 'base.html' %} {% load static %} {% block title %} Sign up {%
endblock %} {% block content %}
<section class="my-2 mb-5">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-4">Sign up</h1>
    <div
      class="Payment_Card row justify-content-center align-items-center"
      style="
        max-width: 800px;
        box-shadow: 0px 4px 52px 4px rgb(2 8 10 / 22%);
        border-radius: 20px 20px 20px 20px;
      "
    >
      <div class="col-md ps-0 d-none d-md-block">
        <img
          src="{% static 'images/Teachers_login.jpg' %}"
          alt=""
          style="
            width: 100%;
            height: 700px;
            object-fit: cover;
            border-radius: 20px 0px 0px 20px;
          "
        />
      </div>
      <div class="col-md">
        <div
          class="mt-4 d-flex flex-column align-items-center px-2 py-4 py-md-0"
        >
          {% if messages %} {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade d-flex">
            <i
              class="fa-solid fa-triangle-exclamation mx-2 {{ message.tags }} h5"
            ></i>
            <div>{{ message }}</div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %} {% endif %}

          <div class="logo_div" style="border-radius: 50%">
            <img src="{% static 'images/St Marks Logo.png' %}" alt="" />
          </div>

          <form
            id="contact-form"
            class="form"
            style="width: 280px; font-weight: 600; color: #052640"
            method="POST"
            action="{% url 'Accounts:signup' %}"
          >
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label">username</label>
              <input
                type="text"
                name="username"
                class="form-control"
                id="name"
                placeholder="enter your username"
                required
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">email address</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="name@example.com"
              />
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >password</label
              >
              <div class="input-group">
                <input
                  type="password"
                  name="password1"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Enter Password"
                  required
                />
                <div class="input-group-text toggle-password1">
                  <i class="fa-solid fa-eye"></i>
                </div>
              </div>
            </div>

            <div class="mb-4">
              <label for="exampleFormControlInput2" class="form-label"
                >confirm Password</label
              >
              <div class="input-group">
                <input
                  type="password"
                  name="password2"
                  class="form-control"
                  id="exampleFormControlInput2"
                  placeholder="Re-enter your Password"
                  required
                />
                <div class="input-group-text toggle-password2">
                  <i class="fa-solid fa-eye"></i>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="Groupname" class="form-label">Select a Group</label>
              <select
                name="Groupname"
                id="Groupname"
                class="form-select"
                aria-label="Default select example"
                required
              >
                <option value="" disabled selected>select your group</option>
                <option value="Teacher">Teacher</option>
                <option value="Formteacher">Formteacher</option>
                <option value="Admin">Admin</option>
              </select>
            </div>

            <div class="mb-3" id="Classname" style="display: none">
              <label class="form-label">select your Class</label>
              <select
                name="Classname"
                class="form-select"
                aria-label="Default select example"
              >
                <option value="" disabled selected>
                  Select your Form class
                </option>
                {% for class in classes %}
                <option value="{{ class.Class }}">{{ class.Class }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="my-4">
              <span id="error-text" class="text-danger" style="display: none"
                >Passwords do not match</span
              >
              <button
                id="submit-btn"
                class="btn btn-primary w-100 shadow-sm"
                style="display: block"
              >
                Sign up
              </button>
            </div>
            <p class="fw-normal">
              Already have an Account ? Then
              <a href="{% url 'Accounts:login' %}" class="text-decoration-none"
                >Login</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/Accounts/Signup.js' %}"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>
{% endblock %}
