{% load static %}
<!-- Navbar for Large -->

<nav class="navbar bg-base-100 sticky top-0 w-full z-50 shadow-sm">
  <div class="auto-container flex justify-between items-center">
    <!-- First Part of the Nav bar -->
    <div class="navbar-start">
      <a
        href="{% url 'home' %}"
        class="block w-[60px] h-[60px] overflow-hidden"
      >
        <img
          src="{% static 'images/St Marks Logo.png' %}"
          alt="SMSS Logo"
          class="object-cover rounded-full"
        />
      </a>
    </div>

    <!-- Mobile menu button -->
    <div class="lg:hidden flex items-center justify-center">
      <div class="nav-item-envelope relative mr-3">
        <i class="fas fa-search text-xl text-primary"></i>
      </div>
      <div class="drawer-end">
        <input id="mobile-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <label for="mobile-drawer" class="btn btn-square btn-ghost lg:hidden">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </label>
        </div>
      </div>
    </div>

    <!-- Second Part of the Nav bar - Desktop Menu -->
    <div class="hidden lg:flex navbar-center">
      <ul class="menu menu-horizontal px-1 text-sm font-bold">
        <li class="dropdown dropdown-hover">
          <label
            tabindex="0"
            class="text-black hover:text-primary cursor-pointer"
          >
            Home <i data-lucide="chevron-down" class="ml-1 w-4 h-auto"></i>
          </label>
          <ul
            tabindex="0"
            class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li>
              <a href="/#About" class="text-primary font-bold">About Us</a>
            </li>
            <li>
              <a href="/#Management" class="text-primary font-bold">Teachers</a>
            </li>
            <li>
              <a href="/#Management" class="text-primary font-bold"
                >Management</a
              >
            </li>
            <li>
              <a href="/#review" class="text-primary font-bold">Reviews</a>
            </li>
            <li>
              <a href="/#contact" class="text-primary font-bold">Contact us</a>
            </li>
            <li><a href="/#FAQ" class="text-primary font-bold">FAQ</a></li>
          </ul>
        </li>

        <li><a href="#" class="text-black hover:text-primary">Articles</a></li>
        <li>
          <a
            href="{% url 'Teachers_portal:Teachers_dashboard' %}"
            class="text-black hover:text-primary"
            >Teachers Portal</a
          >
        </li>

        <li class="dropdown dropdown-hover">
          <label
            tabindex="0"
            class="text-black hover:text-primary cursor-pointer"
          >
            Students Section
            <i data-lucide="chevron-down" class="ml-1 w-4 h-auto"></i>
          </label>
          <ul
            tabindex="0"
            class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li>
              <a
                href="{% url 'Result_portal:classes' %}"
                class="text-primary font-semibold"
                >Result Portal</a
              >
            </li>
            <li>
              <a href="{% url 'CBT:Cbt' %}" class="text-primary font-semibold"
                >CBT</a
              >
            </li>
            <li>
              <a href="#" class="text-primary font-semibold">E-library</a>
            </li>
            <li>
              <a href="#" class="text-primary font-semibold">Payment Portal</a>
            </li>
          </ul>
        </li>

        <li class="dropdown dropdown-hover">
          <label
            tabindex="0"
            class="text-black hover:text-primary cursor-pointer"
          >
            Admissions
            <i data-lucide="chevron-down" class="ml-1 w-4 h-auto"></i>
          </label>
          <ul
            tabindex="0"
            class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li>
              <a href="#" class="text-primary font-semibold">Purchase Form</a>
            </li>
            <li>
              <a href="{% url 'CBT:Cbt' %}" class="text-primary font-semibold"
                >CBT</a
              >
            </li>
            <li>
              <a href="#" class="text-primary font-semibold">Ent Exam Result</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#" class="text-black hover:text-primary">Contact us</a>
        </li>
      </ul>
    </div>

    <!-- Third Part of the Nav bar - User Actions -->
    <div class="hidden lg:flex navbar-end">
      <div class="flex items-center space-x-4">
        <div class="nav-item-envelope relative">
          <button
            class="btn btn-ghost btn-circle text-black hover:text-primary"
          >
            <i data-lucide="user-round-plus" class="w-6 h-auto"></i>
          </button>
        </div>

        <div class="dropdown dropdown-end">
          {% if request.user.is_authenticated  %}
          <label
            tabindex="0"
            class="btn btn-ghost btn-circle text-black hover:text-primary"
          >
              <div
                class="w-8 h-8 flex justify-center items-center rounded-full bg-secondary shrink-0"
              >
                <h6 class="text-primary font-extrabold text-lg">
                  {% if request.user.username %} {{ request.user.username|slice:":1" }} {% else %} ? {% endif %}
                </h6>
              </div>
            </label>
          {% else %}
          <label
            tabindex="0"
            class="btn btn-ghost btn-circle text-black hover:text-primary"
          >
              <div
                class="w-9 h-9 flex justify-center items-center rounded-full bg-secondary shrink-0"
              >
                <i data-lucide="shield-user" class="w-5 h-auto text-primary"></i>
              </div>
            </label>
          {% endif %}
          <ul
            tabindex="0"
            class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            {% if request.user.is_superuser %}
            <li>
              <a
                href="{% url 'activation_side' %}"
                class="text-primary font-semibold"
                >Activation</a
              >
            </li>
            <li>
              <a
                href="{% url 'cardactivate' %}"
                class="text-primary font-semibold"
                >Students Card</a
              >
            </li>
            {% endif %}
            <li>
              <a
                href="/admin"
                target="_blank"
                class="text-primary font-semibold"
                >Admin</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Mobile Drawer Menu -->
<div class="drawer lg:hidden">
  <input id="mobile-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="mobile-drawer" class="drawer-overlay"></label>
    <aside class="w-80 min-h-full bg-base-200">
      <div class="p-4">
        <h2 class="text-xl font-bold mb-4">Menu</h2>
        <ul class="menu w-full">
          <li class="mb-2">
            <details>
              <summary class="text-primary font-bold">Home</summary>
              <ul>
                <li><a href="/#About">About Us</a></li>
                <li><a href="/#Management">Teachers</a></li>
                <li><a href="/#Management">Management</a></li>
                <li><a href="/#review">Reviews</a></li>
                <li><a href="/#contact">Contact us</a></li>
                <li><a href="/#FAQ">FAQ</a></li>
              </ul>
            </details>
          </li>
          <li><a href="#" class="text-primary font-bold">Articles</a></li>
          <li>
            <a
              href="{% url 'Teachers_portal:Teachers_dashboard' %}"
              class="text-primary font-bold"
              >Teachers Portal</a
            >
          </li>
          <li class="mb-2">
            <details>
              <summary class="text-primary font-bold">Students Section</summary>
              <ul>
                <li>
                  <a href="{% url 'Result_portal:classes' %}">Result Portal</a>
                </li>
                <li><a href="{% url 'CBT:Cbt' %}">CBT</a></li>
                <li><a href="#">E-library</a></li>
                <li><a href="#">Payment Portal</a></li>
              </ul>
            </details>
          </li>
          <li class="mb-2">
            <details>
              <summary class="text-primary font-bold">Admissions</summary>
              <ul>
                <li><a href="#">Purchase Form</a></li>
                <li><a href="{% url 'CBT:Cbt' %}">CBT</a></li>
                <li><a href="#">Ent Exam Result</a></li>
              </ul>
            </details>
          </li>
          <li><a href="#" class="text-primary font-bold">Contact us</a></li>
          {% if request.user.is_superuser %}
          <li>
            <a href="{% url 'activation_side' %}" class="text-primary font-bold"
              >Activation</a
            >
          </li>
          <li>
            <a href="{% url 'cardactivate' %}" class="text-primary font-bold"
              >Students Card</a
            >
          </li>
          {% endif %}
          <li>
            <a href="/admin" target="_blank" class="text-primary font-bold"
              >Admin</a
            >
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>
