{% load static %}
<!-- Navbar for Large -->

<nav class="navbar navbar-expand-lg navbar-light mt-0 fixed-top shadow-sm">
    <div class=" container px-2 d-flex justify-content-between">
        <!-- First Part of the Nav bar -->

        <div class="d-flex justify-content-between">
            <a href="{% url 'home' %}"><img src="{% static 'images/St Marks Logo.png' %}" alt="..."
                    class="brand_image img-fluid"></a>
        </div>
        <div class="d-flex d-lg-none align-items-center justify-content-center">
            <div class="nav-item-envelope me-3 position-relative">
                <i class="fas fa-search h5 " style="color:#3b0505;"></i>
            </div>
            <div class="hamburger-menu ">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>


        <!-- Second Part of the Nav bar -->
        <div class="d-none d-lg-flex collapse navbar-collapse" id="navmenu">
            <ol class="navbar-nav mx-auto text-start ps-1">
                <li class="nav-item me-2">
                    <a href="{% url 'home' %}" class="nav-link active">Home <i
                            class="fa-solid fa-caret-down ms-1"></i></a>
                    <ul class="py-2 ps-0">
                        <li class="px-4"><a href="/#About">About Us</a></li>
                        <li class="px-4"><a href="/#Management">Teachers</a></li>
                        <li class="px-4"><a href="/#Management">Management</a></li>
                        <li class="px-4"><a href="/#review">Reviews</a></li>
                        <li class="px-4"><a href="/#contact">Contact us</a></li>
                        <li class="px-4"><a href="/#FAQ">FAQ</a></li>
                    </ul>
                </li>

                <li class="nav-item me-2">
                    <a href="#" class="nav-link">Articles</a>
                </li>
                <li class="nav-item me-2">
                    <a href="{% url 'Teachers_portal:Teachers_dashboard' %}" class="nav-link">Teachers Portal</a>
                </li>

                <li class="nav-item me-2">
                    <a class="nav-link">Students Section <i class="fa-solid fa-caret-down ms-1"></i></a>
                    <ul class="py-2 ps-0">
                        <li class="px-4"><a href="{% url 'Result_portal:classes' %}">Result Portal</a></li>
                        <li class="px-4"><a href="{% url 'CBT:Cbt' %}">CBT</a></li>
                        <li class="px-4"><a href="{% url 'Elibrary:subjects' %}">E-library</a></li>
                        <li class="px-4"><a href="{% url 'Payment_portal:initiate_payment' %}">Payment Portal</a></li>
                    </ul>
                </li>

                <li class="nav-item me-2">
                    <a class="nav-link">Admissions <i class="fa-solid fa-caret-down ms-1"></i></a>
                    <ul class="py-2 ps-0">
                        <li class="px-4"><a href="{% url 'Admission_form:initiate_payment' %}">Purchase Form</a></li>
                        <li class="px-4"><a href="{% url 'CBT:Cbt' %}">CBT</a></li>
                        <li class="px-4"><a href="#">Ent Exam Result</a></li>
                    </ul>
                </li>
                <li class="nav-item me-2">
                    <a href="#" class="nav-link">Contact us</a>
                </li>
            </ol>
        </div>

        <!-- Third Part of the Nav bar -->
        <div class="d-none d-lg-flex">
            <ol class="navbar-nav text-start ps-1">
                <li class="nav-item-envelope me-3 position-relative">
                    <a class="nav-link">
                        <i class="fas fa-search h5"></i>
                    </a>
                </li>
                <li class="nav-item mx-3 ">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-user h4"></i>
                        <i class="fa-solid fa-caret-down ms-1"></i>
                    </a>
                    <ul class="ps-0 py-3" style="right: 46px;">
                        {% if request.user.is_superuser %}
                        <li class="px-5"><a href="{% url 'activation_side' %}">Activation</a></li>
                        {% endif %}
                        <li class="px-5"><a href="/admin" target="_blank">Admin</a></li>
                    </ul>
                </li>
            </ol>
        </div>


    </div>
</nav>

<!-- Navbar for Small Screen -->
<nav class="menu">
    <ul>
        <li class="sub-menu-toggle">
            <div class="d-flex justify-content-between align-items-center">
                <a class="me-2">Quick links</a>
                <i class="sub-menu-toggle-icon fas fa-plus"></i>
            </div>
            <ul class="sub-menu">
                <li><a href="{% url 'home' %}" class="menulink">Home</a></li>
                <li><a href="/#About" class="menulink">About us</a></li>
                <li><a href="/#Management" class="menulink">Teachers</a></li>
                <li><a href="/#Management" class="menulink">Management</a></li>
                <li><a href="/#review" class="menulink">Reviews</a></li>
                <li><a href="/#contact" class="menulink">Contact us</a></li>
                <li><a href="/#FAQ" class="menulink">FAQ</a></li>
            </ul>
        </li>
        <li><a href="#" class="menulink">Articles</a></li>
        <li><a href="{% url 'Teachers_portal:Teachers_dashboard' %}" class="menulink">Teachers Portal</a></li>
        <li class="sub-menu-toggle">
            <div class="d-flex justify-content-between align-items-center">
                <a>Admissions</a>
                <i class="sub-menu-toggle-icon fas fa-plus "></i>
            </div>
            <ul class="sub-menu">
                <li><a href="{% url 'Admission_form:initiate_payment' %}" class="menulink">Purchase Form</a></li>
                <li><a href="{% url 'CBT:Cbt' %}" class="menulink">CBT</a></li>
                <li><a href="" class="menulink">Ent Exam Result</a></li>
            </ul>
        </li>
        <li class="sub-menu-toggle">
            <div class="d-flex justify-content-between align-items-center">
                <a class="me-2" class="menulink">Students Section</a>
                <i class="sub-menu-toggle-icon fas fa-plus"></i>
            </div>
            <ul class="sub-menu">
                <li><a href="{% url 'Result_portal:classes' %}" class="menulink">Result Portal</a></li>
                <li><a href="{% url 'CBT:Cbt' %}" class="menulink">CBT</a></li>
                <li><a href="{% url 'Elibrary:subjects' %}" class="menulink">Elibrary</a></li>
                <li><a href="{% url 'Payment_portal:initiate_payment' %}" class="menulink">Payment Portal</a></li>
            </ul>
        </li>
        <li class="sub-menu-toggle">
            <div class="d-flex justify-content-between align-items-center">
                <a class="me-2" class="menulink">Admin</a>
                <i class="sub-menu-toggle-icon fas fa-plus"></i>
            </div>
            <ul class="sub-menu">
                {% if request.user.is_superuser %}
                <li><a href="{% url 'activation_side' %}" class="menulink">Activation</a></li>
                {% endif %}
                <li><a href="/admin" target="_blank" class="menulink">Admin</a></li>
            </ul>
        </li>
    </ul>
</nav>