{% load static %} {% load static %}
<footer class="bg-primary text-white/80 pt-14">
  <div class="grid grid-cols-12 gap-4 px-8 md:px-20 pb-4 md:pb-0 mr-0">
    <div class="col-span-12 sm:col-span-8 md:col-span-4 pr-1 sm:pr-16 md:pr-20">
      <div
        id="sub_form_alert_success"
        class="alert alert-success"
        style="display: none"
      >
        <i class="bi bi-check-circle-fill mx-2 text-success text-xl"></i>
        <div>Your email has been sent successfully!</div>
      </div>

      <div
        id="sub_form_alert_danger"
        class="alert alert-error"
        style="display: none"
      >
        <i class="fa-solid fa-triangle-exclamation mx-2 text-error text-xl"></i>
        <div>An error occurred while sending your message.</div>
      </div>
      <form id="sub_form">
        <h4
          class="text-lg font-bold mb-4"
        >
          Subscribe to our newsletter
        </h4>
        <p class="mb-4">Monthly digest of whats new and exciting from us.</p>
        <div class="flex w-full gap-2">
          <label for="newsletter1" class="sr-only">Email address</label>
          <input
            id="newsletter1"
            type="email"
            class="input placeholder:text-secondary focus:outline-orange focus:border-orange focus-within:outline-orange focus-within:border-orange flex-1"
            placeholder="Email address"
            name="email"
            required
          />
          <button class="btn btn-orange" value="submit" type="submit">
            Subscribe
          </button>
        </div>
      </form>
      <ul class="flex mt-12 space-x-4">
        <li>
          <a href="#"
            ><i class="fa-brands fa-facebook text-cream text-[22px]"></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><i class="fa-brands fa-instagram text-cream text-[22px]"></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><i class="fa-brands fa-whatsapp text-cream text-[22px]"></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><i class="fa-brands fa-twitter text-cream text-[22px]"></i
          ></a>
        </li>
      </ul>
    </div>

    <div class="col-span-5 sm:col-span-3 md:col-span-2 py-12 md:pt-0">
      <h5
        class="text-lg font-bold mb-4 md:text-lg md:font-bold"
      >
        Quick links
      </h5>
      <ul class="space-y-2">
        <li>
          <a
            href="{% url 'home' %}"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/#About"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >About</a
          >
        </li>
        <li>
          <a
            href="/Accounts/"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Management</a
          >
        </li>
        <li>
          <a
            href="/#Teachers"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Teachers</a
          >
        </li>
        <li>
          <a
            href="/#gallery"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Photogallery</a
          >
        </li>
        <li>
          <a
            href="/#FAQ"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >FAQ</a
          >
        </li>
      </ul>
    </div>

    <div class="col-span-5 md:col-span-2 py-12 md:pt-0">
      <h5
        class="text-lg font-bold mb-4 md:text-lg md:font-bold"
        >
        Articles
      </h5>
      <ul class="space-y-2">
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Health</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Politics</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Science</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Arts</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Literature</a
          >
        </li>
      </ul>
    </div>

    <div class="col-span-5 md:col-span-2">
      <h5 class="text-lg font-bold mb-4 md:text-lg md:font-bold">
        Students portal
      </h5>
      <ul class="space-y-2">
        <li>
          <a
            href="{% url 'Result_portal:classes' %}"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Results</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Payments</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >E-library</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Admission_form</a
          >
        </li>
        <li>
          <a
            href="{% url 'Teachers_portal:Teachers_dashboard' %}"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Teacher Portal</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--cream-color)] text-xs md:text-sm font-bold md:font-normal hover:underline"
            style="font-family: var(--main-font-family)"
            >Entrance Exam Result</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="bg-primary-dark text-white flex justify-center items-center py-6">
    <div>
      <p class="my-0 text-center text-[11px] md:text-[10px]">
        &copy; 2022 SMSS Omagba, inst . All rights reserved.
      </p>
      <p class="my-0 text-center text-[11px] md:text-[10px]">
        designed by Gozzy designs and development
      </p>
    </div>
  </div>
</footer>
<script src="{% static 'js/main.js' %}"></script>
