{% extends '_layouts/dashboard_layout.html' %} 
{% load static %} 
{% block dashboard_content %}

<!-- Page Header -->
{% include 'teachers/_components/profile_page_header.html' %}

<!-- Profile Content -->
<div class="flex justify-center">
  <div class="w-full max-w-4xl">
    <!-- Profile Overview -->
    {% include 'teachers/_components/profile_overview.html' %}

    <!-- Profile Edit Form -->
    {% include 'teachers/_components/profile_edit_form.html' %}
  </div>
</div>

<!-- Scripts -->
<script type="module" src="{% static 'js/Teacher_portal/profile.js' %}"></script>
{% endblock %}
