{% load static %}
<section id="About" class="relative bg-dark-cream p-[6.5vw] py-10">
  <img
    class="hidden md:block absolute w-48 top-[7%] left-[3%]"
    src="{% static 'images/Rectangle about.svg' %}"
    alt="Rectangle decoration"
  />
  <img
    class="hidden md:block absolute w-48 bottom-[7%] left-[3%]"
    src="{% static 'images/Circle about.svg' %}"
    alt="Circle decoration"
  />
  <img
    class="hidden md:block absolute w-20 bottom-[7%] right-[3%]"
    src="{% static 'images/bubbles.svg' %}"
    alt="Bubbles decoration"
  />
  <div
    class="relative z-10 bg-base-100 shadow-card rounded-lg md:rounded-xl grid lg:grid-cols-2 gap-6 mb-4"
  >
    <div class="pt-5 py-8 px-8 md:p-12">
      <div class="sideline_text">About</div>
      <h1 class="text-4xl">Welcome to SMSS OMAGBA</h1>

      <div class="flex my-3">
        <div class="Nrule"></div>
        <div class="Nrule2"></div>
      </div>
      <p class="mb-3 text-sm">
        St Marks Standard Secondary School is located in a reserved and serene
        environment fit for learning within Omagba phase 1; is a co-educational,
        mission secondary school under the episcopal leadership of the diocese
        on the Niger, Anglican communion; which was founded on 13th September
        2010, with F. I Okey as the pioneer principal. We pride ourselves with
        raising morally sound students who through Godly counsels, technological
        and innovative schemes such as skill aquisition classes, social
        activities and other extra-curricular activities that will help the
        total development of our young ones to take their place in the society
      </p>
      <a
        href="#"
        class="bg-wine-red text-white px-6 py-2 rounded font-medium hover:bg-opacity-90 transition-colors mt-1 mb-2 inline-flex items-center gap-2"
      >
        Know more about us <i class="fa fa-angle-double-right"></i>
      </a>
    </div>

    <div class="px-0">
      <img
        src="{% static 'images/front Building Retouched.jpg' %}"
        class="w-full h-full object-cover rounded-r"
        alt="SMSS School Building"
      />
    </div>
  </div>
</section>
