{% load static %}

<section id="Track" class="bg-white py-10">
  <div class="auto-container">
    <div class="flex flex-col items-center">
      <div class="sideline_text">Our Tracks</div>
      <h1 class="text-4xl">Visions & Missions</h1>
    </div>

    <div class="flex justify-center mt-3 mb-4">
      <div class="Nrule"></div>
      <div class="Nrule2"></div>
    </div>
    <div class="grid lg:grid-cols-2 gap-8 px-2 items-center justify-center">
      <div class="flex justify-center">
        <img
          src="{% static 'images/Track image.png' %}"
          class="w-full max-w-md h-auto"
          alt="Track Image"
        />
      </div>
      <div class="py-5 flex flex-col items-center md:block space-y-6">
        <!-- Vision Card -->
        <div
          class="relative bg-base-100 text-black p-5 rounded-2xl shadow-lg max-w-md"
        >
          <img
            class="absolute top-1/2 -left-2 transform -translate-y-1/2 w-16 h-16"
            src="{% static 'images/Vision.svg' %}"
            alt="Vision"
          />
          <div class="pl-10">
            <h5 class="text-2xl font-bold mb-2">Vision</h5>
            <p class="text-sm font-bold">
              To initiate a paradigm shift in teaching and learning process
              which engenders relevant intellectual skills for innovation and
              holistic development; thus providing vitalisaton to communal and
              national renaissance.
            </p>
          </div>
        </div>

        <!-- Mission Card -->
        <div
          class="relative bg-primary text-white p-5 rounded-2xl shadow-lg max-w-md"
        >
          <img
            class="absolute top-1/2 -left-2 transform -translate-y-1/2 w-16 h-16"
            src="{% static 'images/Mission.svg' %}"
            alt="Mission"
          />
          <div class="pl-10">
            <h5 class="text-2xl font-bold mb-2">Mission</h5>
            <p class="text-sm font-bold">
              Our mission is to raise and maintain high standards academically
              and morally through nurturing of the spiritual, academic,
              emotional and physical being that will in turn produce creative
              thinking, applied knowledge, collaborative spirit and leadership
              skills in a secondary school student.
            </p>
          </div>
        </div>

        <!-- Values Card -->
        <div
          class="relative bg-primary/5 text-primary p-5 rounded-2xl shadow-lg max-w-md"
        >
          <img
            class="absolute top-1/2 -left-2 transform -translate-y-1/2 w-16 h-16"
            src="{% static 'images/values.svg' %}"
            alt="Values"
          />
          <div class="pl-10">
            <h5 class="text-2xl font-bold mb-2">Values</h5>
            <p class="text-sm font-bold">
              Teamwork, Integrity, Creativity, Stewardship, Excellence, Passion,
              Resilience
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
