{% load static %}
<section id="FAQ" class="FAQ_News p-2 pb-16 pt-10">
  <div class="sideline_text text-center">
    be kept abrest with our news and update
  </div>
  <h1 class="text-center text-4xl font-bold">Events Update & FAQ</h1>
  <div class="multiplerule my-12 flex justify-center">
    <div class="Nrule"></div>
    <div class="Nrule2"></div>
  </div>

  <div class="auto-container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">
      <!-- Events Section -->
      <div class="space-y-4">
        {% if events %} 
        {% for event in events %}
        <div class="rounded-xl shadow-lg bg-primary/5 px-6 pl-2 md:pl-6 flex items-center">

          <!-- Event Image -->
          {% if event.EventimageURL == '' %}

          <div
            class="w-[150px] h-[180px] bg-secondary rounded-xl hidden sm:flex justify-center items-center"
          >
            <i class="i fa-solid fa-image text-4xl text-primary"></i>
          </div>
          {% else %}
          <img
            class="w-[150px] h-[180px] object-cover rounded-xl hidden sm:block"
            src="{{ event.EventimageURL }}"
            alt=""
          />
          {% endif %}

          <!-- Event Details -->
          <div class="py-12 pl-10">
            <h5 class="text-xl font-bold text-primary">
              {{ event.Eventtitle }}
            </h5>
            <div class="text-sm font-bold">
              {% if event.Eventspeaker_Chairman %}
              <div class="text-[13px]">
                Speaker : {{ event.Eventspeaker_Chairman }}
              </div>
              {% endif %}
              <div class="text-[13px]">Venue : {{ event.Eventvenue }}</div>
            </div>

            <!-- second part -->
            <div class="flex justify-center mt-6 items-center">
              <div class="flex justify-between items-center">
                <div
                  class="w-10 h-10 flex items-center justify-center bg-secondary rounded-full shrink-0"
                >
                  <i class="i fa-solid fa-clock text-primary text-lg"></i>
                </div>
                <div class="text-[13px] ml-2">{{ event.Eventtime }}</div>
              </div>
              <div class="mx-12 flex justify-between items-center">
                <div
                  class="w-10 h-10 flex items-center justify-center bg-secondary rounded-full shrink-0"
                >
                  <i class="i fa-solid fa-calendar text-primary text-lg"></i>
                </div>
                <div class="text-[13px] ml-2">{{ event.Eventdate }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% else %}

        <div class="w-full">
          <div
            id="events"
            class="mx-auto max-w-[450px] max-h-[180px] bg-primary/20 py-20 px-12"
          >
            <h5 class="text-center text-primary">no Events yet !!</h5>
          </div>
        </div>
        {% endif %}
      </div>

      <!-- FAQ Section -->
      <div>
        <div class="max-w-md mx-auto">
          {% for question in FAQ %}
          <div
            class="collapse collapse-arrow bg-primary/10 border border-secondary/50 mb-4"
          >
            <input type="radio" name="faq-accordion" />
            <div class="collapse-title font-semibold text-primary">
              {{ question.Questions }}
            </div>
            <div class="collapse-content text-sm text-primary">
              {{ question.Answer }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
