{% load static %}
<section id="gallery" class="bg-primary/20 py-10 mb-3">
  <div class="container mx-auto py-4 mb-0 text-center">
    <div class="flex flex-col items-center">
      <div class="sideline_text">Photo Catalog</div>
      <h1 class="text-4xl">View Our Photo Gallery</h1>
    </div>

    <div class="flex justify-center">
      {% if photos %}
      <div
        class="w-full max-w-[700px] grid grid-cols-1 justify-items-center sm:grid-cols-2 md:grid-cols-3 gap-3 md:gap-4"
      >
        {% for picture in photos %}
        <img
          class="h-48 w-auto object-cover rounded border border-gray-200 shadow-sm hover:shadow-md transition-shadow"
          src="{{ picture.imageURL }}"
          alt="Gallery image {{ forloop.counter }}"
        />
        {% endfor %}
      </div>
      {% else %}
      <div class="text-center">
        <div class="text-primary">No photos available in the gallery.</div>
      </div>
      {% endif %}
    </div>

    {% if photos %}
    <div class="mt-4">
      <a href="{% url 'gallery' %}" class="btn btn-primary text-white mt-3">
        See more Pictures
      </a>
    </div>
    {% endif %}
  </div>
</section>
