{% load static %}
<div
  class="relative min-h-screen bg-gradient-to-br from-primary/10 via-base-100 to-primary/5"
>
  <div class="pt-4 pb-20 md:pt-8 lg:pt-10 md:pb-10 overflow-x-clip">
    <div class="auto-container relative z-20 px-4 py-10">
      <div class="grid md:grid-cols-2 md:justify-between gap-8 gap-y-12">
        <div class="">
          <div
            class="inline-block bg-primary/10 text-primary text-sm font-medium px-4 py-2 rounded-full mb-4"
          >
            Excellence in Education
          </div>

          <h1
            class="text-3xl sm:text-5xl md:text-7xl font-bold tracking-tight bg-gradient-to-r from-primary to-primary/70 bg-clip-text text-transparent pb-2"
          >
            For Accurate Teaching and Maximum Learning
          </h1>

          <p
            class="text-lg mt-6 tracking-tight md:max-w-[457px] text-base-content"
          >
            St Marks Standard Secondary School Omagba - Nurturing academic
            excellence, moral values, and innovative thinking in a serene
            learning environment.
          </p>

          <div class="flex gap-3 items-center mt-8 flex-wrap">
            <a
              href="/#Requirements"
              class="btn btn-primary rounded-full h-12 px-8 bg-gradient-to-r from-wine-red to-wine-red/90 border-none text-white hover:shadow-lg"
            >
              Register Now
            </a>
            <a
              href="/#Portal"
              class="btn btn-ghost text-black rounded-full flex items-center gap-2 h-12 px-6 hover:bg-wine-red/5"
            >
              <span>Student Portal</span>
              <i class="fas fa-arrow-right text-sm"></i>
            </a>
          </div>

          <!-- Stats Cards -->
          <div
            class="mt-8 bg-primary/10 text-white backdrop-blur-sm rounded-xl p-6 grid grid-cols-3 gap-4 max-w-md"
          >
            <div class="text-center">
              <h3 class="text-4xl font-bold text-primary">32+</h3>
              <div class="text-base font-medium text-primary">Subjects</div>
            </div>
            <div class="text-center">
              <h3 class="text-4xl font-bold text-primary">700+</h3>
              <div class="text-base font-medium text-primary">Students</div>
            </div>
            <div class="text-center">
              <h3 class="text-4xl  font-bold text-primary">30+</h3>
              <div class="text-base font-medium text-primary">Teachers</div>
            </div>
          </div>
        </div>

        <!-- Image Grid -->
        <div class="max-w-[588px] overflow-visible">
          <img
            class="w-full h-full"
            src="{% static 'images/Hero Image.png' %}"
            alt="School Hero Image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
