{% load static %}
<section id="Management" class="p-3 py-8">
  <div class="auto-container pb-8">
    <div class="flex flex-col items-center">
      <div class="sideline_text">Management</div>
      <h1 class="text-4xl text-center">Meet Our Management Team</h1>
    </div>

    <div class="flex justify-center mt-3 mb-4">
      <div class="Nrule"></div>
      <div class="Nrule2"></div>
    </div>
    <!-- Slide -->

    {% if managements %}
    <div class="max-w-[1120px] w-full mx-auto swiper">
      <div
        class="mx-2 md:mx-10 pb-5 rounded-3xl overflow-hidden slider-content"
      >
        <div class="swiper-wrapper">
          {% for management in managements %}
          <div class="swiper-slide">
            <div
              class="h-82 rounded-xl shadow-lg my-10 relative bg-white flex flex-col items-center p-0"
            >
              <div class="rounded-t-xl h-42 w-full bg-secondary mb-4"></div>
              <div
                class="absolute top-[10%] left-1/2 transform -translate-x-1/2 w-30 h-30 flex justify-center items-center rounded-full border-4 border-white mb-3"
              >
                {% if management.managementimageURL %}
                <img
                  src="{{ management.managementimageURL }}"
                  class="w-24 h-24 object-cover object-top rounded-full bg-secondary"
                  alt="{{ management.Profilename }}"
                />
                {% else %}
                <div
                  class="w-24 h-24 flex justify-center items-center rounded-full bg-secondary"
                >
                  <h6 class="text-white font-bold text-2xl">
                    {% if management.Profilename %} 
                    {{ management.Profilename|slice:":1" }} 
                    {% else %} ? {% endif %}
                  </h6>
                </div>

                {% endif %}
              </div>

              <!-- Profile details -->
              <div class="text-center">
                <h6 class="mb-0 font-bold text-center text-primary">
                  {{ management.Profilename }}
                </h6>
                <p class="text-gray-500 my-1 text-sm">
                  {{management.Role}} <br />
                  {{ management.Phonenumber }}
                </p>
              </div>
              <div class="flex space-x-2 mt-2">
                <a href="{{ management.Twitterpage }}"
                  ><img
                    class="w-6 h-6"
                    src="{% static 'images/twitter icon mag.svg' %}"
                    alt="Twitter"
                /></a>
                <a href="{{ management.Facebookpage }}"
                  ><img
                    class="w-6 h-6"
                    src="{% static 'images/facebook icon mag.svg' %}"
                    alt="Facebook"
                /></a>
                <a href="{{ management.Whatsapp }}"
                  ><img
                    class="w-6 h-6"
                    src="{% static 'images/instagram icon mag.svg' %}"
                    alt="Instagram"
                /></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next !text-primary !right-0 font-bold"></div>
        <div class="swiper-button-prev !text-primary !left-0 font-bold"></div>
        <div class="swiper-pagination management-pagination"></div>
      </div>
    </div>
    {% else %}
    <div class="w-full">
      <div
        id="managements"
        class="mx-auto max-w-[450px] max-h-[180px] bg-primary/20 py-20 px-12 text-primary"
      >
        <h5 class="text-center">no Managements yet !!</h5>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="hr"></div>

  <!-- Teachers Section  -->

  <div id="Teachers" class="container mx-auto mt-4 pt-8">
    <div class="flex flex-col items-center">
      <div class="sideline_text">Teachers</div>
      <h1 class="text-4xl text-center">Meet Our Professional Teachers</h1>
    </div>

    <div class="flex justify-center mt-3 mb-4">
      <div class="Nrule"></div>
      <div class="Nrule2"></div>
    </div>
    <!-- Slide -->
    {% if Teachers %}
    <div class="max-w-[1120px] w-full mx-auto swiper">
      <div
        class="mx-2 md:mx-10 pb-5 rounded-3xl overflow-hidden slider-content2"
      >
        <div class="swiper-wrapper">
          {% for Teacher in Teachers %}
          <div class="swiper-slide">
            <div
              class="h-82 rounded-xl shadow-lg my-10 relative bg-white flex flex-col items-center p-0"
            >
              <div class="rounded-t-xl h-42 w-full bg-royal-blue mb-4"></div>
              <div
                class="absolute top-[10%] left-1/2 transform -translate-x-1/2 w-30 h-30 flex justify-center items-center rounded-full border-4 border-white mb-3"
                style="background-color: var(--royal-blue-light)"
              >
                {% if Teacher.TopTeachersimageURL == '' %}
                <img
                  src="{% static 'images/default.png' %}"
                  class="w-24 h-24 object-cover object-top rounded-full"
                  alt="{{ Teacher.Profilename }}"
                />
                {% else %}
                <img
                  src="{{Teacher.TopTeachersimageURL}}"
                  class="w-24 h-24 object-cover object-top rounded-full"
                  alt="{{ Teacher.Profilename }}"
                />
                {% endif %}
              </div>
              <div class="text-center">
                <h6 class="mb-0 font-bold text-center text-royal-blue">
                  {{ Teacher.Profilename }}
                </h6>
                <p class="text-gray-500 my-1 text-sm">
                  {{Teacher.Role}} <br />
                  {{ Teacher.Phonenumber }}
                </p>
              </div>
              <div class="flex space-x-2 mt-2">
                <a href="{{ Teacher.Twitterpage }}"
                  ><img
                    class="w-6 h-6"
                    src="{% static 'images/twitter icon Teacher.svg' %}"
                    alt="Twitter"
                /></a>
                <a href="{{ Teacher.Facebookpage }}"
                  ><img
                    class="w-6 h-6"
                    src="{% static 'images/facebook icon Teacher.svg' %}"
                    alt="Facebook"
                /></a>
                <a href="{{ Teacher.Whatsapp }}"
                  ><img
                    class="w-6 h-6"
                    src="{% static 'images/instagram icon Teacher.svg' %}"
                    alt="Instagram"
                /></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div
          class="swiper-button-next !text-royal-blue !right-0 font-bold"
        ></div>
        <div
          class="swiper-button-prev !text-royal-blue !left-0 font-bold"
        ></div>
        <div class="swiper-pagination teachers-pagination"></div>
      </div>
    </div>
    {% else %}
    <div class="w-full">
      <div
        id="teachers"
        class="mx-auto max-w-[500px] max-h-[180px] bg-primary/20 py-20 px-12 text-primary"
      >
        <h5 class="text-center">no Teachers yet !!</h5>
      </div>
    </div>
    {% endif %}
  </div>
</section>
