{% load static %}

<section id="contact" class="bg-dark-cream mt-20 py-20">
  <div class="auto-container">
    <div class="bg-base-100 shadow-card rounded-2xl px-0 md:px-16 pt-16 py-16">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
        <div class="flex flex-col items-center">
          <div class="sideline_text">Contact form</div>
          <h1 class="text-center font-bold mb-6 text-4xl">
            Send us your feedback
          </h1>
          <div class="multiplerule mb-6 flex justify-center">
            <div class="Nrule"></div>
            <div class="Nrule2"></div>
          </div>
  
          <!-- Schools contact -->
          {% if schools %}
          <div class="w-full px-8 md:px-20">
            <ul class="w-full text-base max-w-[465px] mx-auto">
              {% for info in schools %}
              <li class="py-2 px-0 border-b border-dark-cream">
                <span class="font-bold mr-2">
                  <i class="fa-solid fa-envelope text-primary"></i>
                </span>
                {{info.Emailaddress}}
              </li>
              <li class="py-2 px-0 border-b border-dark-cream">
                <span class="font-bold mr-2">
                  <i class="fa-brands fa-whatsapp text-primary"></i>
                </span>
                {{info.Whatsapp}}
              </li>
              <li class="py-2 px-0 border-b border-dark-cream">
                <span class="font-bold mr-2">
                  <i class="fa-solid fa-location-dot text-primary"></i>
                </span>
                {{info.Schoollocation}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
  
          <div class="mt-8 flex flex-col items-center px-2">
            <!-- Alert after Submission  -->
  
            <div class="alert alert-success" style="display: none">
              <i class="bi bi-check-circle-fill mx-2 text-success text-xl"></i>
            </div>
  
            <div class="alert alert-error" style="display: none">
              <i
                class="fa-solid fa-triangle-exclamation mx-2 text-error text-xl"
              ></i>
            </div>
  
            <form id="contact-form" class="w-[280px] space-y-4">
              <div class="">
                <label class="label mb-1">
                  <span class="label-text font-semibold text-primary">Name</span>
                </label>
                <input
                  type="text"
                  name="name"
                  class="input placeholder:text-secondary focus:outline-orange focus:border-orange focus-within:outline-orange focus-within:border-orange"
                  placeholder="enter your name"
                  required
                />
              </div>
              <div class="">
                <label class="label mb-1">
                  <span class="label-text font-semibold text-primary"
                    >Email address</span
                  >
                </label>
                <input
                  type="email"
                  name="email"
                  class="input placeholder:text-secondary focus:outline-orange focus:border-orange focus-within:outline-orange focus-within:border-orange"
                  placeholder="name@example.com"
                  required
                />
              </div>
              <div class="">
                <label class="label mb-1">
                  <span class="label-text font-semibold text-primary"
                    >Message</span
                  >
                </label>
                <textarea
                  class="textarea placeholder:text-secondary focus:outline-orange focus:border-orange focus-within:outline-orange focus-within:border-orange"
                  name="message"
                  rows="6"
                  required
                ></textarea>
              </div>
              <button
                id="submit-btn"
                type="submit"
                class="btn btn-primary w-full mb-2 shadow-sm block"
              >
                Send Message
              </button>
            </form>
          </div>
        </div>
  
        <div class="flex flex-col items-center mt-16 lg:mt-0">
          <div
            id="map"
            style="width: 100%; height: 500px"
            class="shadow-sm"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  mapboxgl.accessToken = "{{ map_box_private_key }}";
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11",
    center: [6.800465, 6.124938],
    zoom: 12,
  });
</script>
