{% load static %}
<div class="hr"></div>
<section id="review" class="Review mb-20">
  <div class="container mx-auto px-4 py-8">
    <p class="sideline_text text-center mb-0">School Review</p>
    <h1 class="text-center font-bold text-4xl">Reviews from our Parents</h1>
    <div class="multiplerule my-12 flex justify-center">
      <div class="Nrule"></div>
      <div class="Nrule2"></div>
    </div>
    {% if parentsreviews %}
    <div class="max-w-[1120px] w-full mx-auto swiper">
      <div
        class="mx-2 md:mx-10 pb-5 rounded-3xl overflow-hidden slider-content"
      >
        <div class="swiper-wrapper">
          {% for review in parentsreviews %}
          <div class="swiper-slide">
            <div class="relative p-0 bg-white rounded-xl shadow-lg my-10">
              <!-- Position differently -->
              <div
                class="w-22 h-22 absolute bottom-3 left-4 bg-white flex justify-center items-center rounded-full border-4 border-primary mr-2"
              >
                {% if review.ParentsprofileimageURL %}
                <img
                  src="{{ review.ParentsprofileimageURL }}"
                  class="w-20 h-20 object-cover object-top rounded-full bg-secondary"
                  alt="{{ review.Name }}"
                />
                {% else %}
                <div
                  class="w-20 h-20 flex justify-center items-center rounded-full bg-secondary"
                >
                  <h6 class="text-primary font-bold text-3xl">
                    {% if review.Name %} {{ review.Name|slice:":1" }} {% else %}
                    ? {% endif %}
                  </h6>
                </div>

                {% endif %}
              </div>

              <div
                class="text-white absolute bottom-[28px] left-[120px] md:bottom-[15px] md:left-[125px] ml-2"
              >
                <h6 class="mb-0 font-bold text-[13px]">{{ review.Name }}</h6>
                <p class="my-1 font-bold text-[8.25px]">
                  {{review.Occupation}} <br />
                </p>
              </div>

              <div
                class="absolute -top-[5%] left-1/2 transform -translate-x-1/2 w-16 h-16 flex justify-center items-center bg-secondary rounded-full"
              >
                <i class="i fa-solid fa-quote-left text-3xl text-primary"></i>
              </div>
              <!-- ////////////// -->

              <div class="text-[13px] font-medium p-10 pt-[65px]">
                {{ review.Review }}
              </div>
              <div class="h-[82px] bg-primary rounded-b-[20px]"></div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next !text-primary !right-0 font-bold"></div>
        <div class="swiper-button-prev !text-primary !left-0 font-bold"></div>
        <div class="swiper-pagination management-pagination"></div>
      </div>
    </div>
    {% else %}
    <div class="w-full">
      <div
        id="events"
        class="mx-auto max-w-[450px] max-h-[180px] bg-primary/20 py-20 px-12 text-primary"
      >
        <h5 class="text-center">no Reviews yet</h5>
      </div>
    </div>
    {% endif %}
    <!-- Slide -->
  </div>
</section>
