{% load static %}
<section id="Portal" class="p-2 py-8">
  <div class="auto-container">
    <div class="grid lg:grid-cols-2 gap-8 px-2 items-center justify-between">
      <div class="text-start">
        <img
          src="{% static 'images/Portal.png' %}"
          class="w-4/5 min-w-[250px] h-auto"
          alt="Student Portal"
        />
      </div>
      <div class="py-5 pt-3">
        <div class="flex flex-col">
          <div class="sideline_text">Students Section</div>
          <h1 class="text-4xl">Student's Portal</h1>
        </div>

        <div class="flex items-center mt-3 mb-4">
          <div class="Nrule"></div>
          <div class="Nrule2"></div>
        </div>

        <p class="mb-4">
          Portal for Result Checking and Assessment ,for Payments such as
          payments of School fees, Textbooks,School Uniforms and other
          resources, Digital Library where Students can Assess their favourite
          E-Textbooks, Past Questions and Answers, at their own convinence etc
        </p>
        <!-- DaisyUI Dropdown -->
        <div class="dropdown">
          <div
            tabindex="0"
            role="button"
            class="btn btn-primary"
          >
            Visit our Portals
            <svg
              width="12px"
              height="12px"
              class="ml-2 fill-current opacity-60"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 2048 2048"
            >
              <path
                d="m1799 349 242 241-1017 1017L7 590l242-241 775 775 775-775z"
              ></path>
            </svg>
          </div>
          <ul
            tabindex="0"
            class="dropdown-content menu bg-base-100 rounded-box z-[1] w-64 p-2 shadow-lg"
          >
            <li>
              <a
                href="{% url 'Result_portal:classes' %}"
                class="text-black hover:bg-primary/10 hover:text-primary transition-colors"
              >
                Result Portal
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-black hover:bg-primary/10 hover:text-primary transition-colors"
              >
                Payment Portal
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-black hover:bg-primary/10 hover:text-primary transition-colors"
              >
                Digital library
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  -->
<div class="hr"></div>
