{% load static %}

<section id="Target" class="bg-primary/10 text-center p-4 mt-0 py-10">
  <div class="flex flex-col items-center">
    <div class="sideline_text text-primary">Work Target</div>
    <h1 class="text-4xl text-primary">Our Set Target</h1>
  </div>

  <div class="flex justify-center">
    <div class="hidden md:flex justify-between space-x-8">
      <div class="text-center">
        <img
          class="mb-2 w-3/4 h-auto mx-auto"
          src="{% static 'images/Good moral.svg' %}"
          alt="Good Morals"
        />
        <p class="font-medium">Good Morals</p>
      </div>
      <div class="text-center">
        <img
          class="mb-2 w-3/4 h-auto mx-auto"
          src="{% static 'images/Academic Excellence.svg' %}"
          alt="Academic Excellence"
        />
        <p class="font-medium">Academic Excellence</p>
      </div>
      <div class="text-center">
        <img
          class="mb-2 w-3/4 h-auto mx-auto"
          src="{% static 'images/Creativity.svg' %}"
          alt="Creativity"
        />
        <p class="font-medium">Creativity</p>
      </div>
      <div class="text-center">
        <img
          class="mb-2 w-3/4 h-auto mx-auto"
          src="{% static 'images/Innovation.svg' %}"
          alt="Innovation"
        />
        <p class="text-left pl-3 font-medium">Innovation</p>
      </div>
    </div>

    <!-- for Small Screen  -->

    <div class="md:hidden">
      <div class="flex justify-center space-x-4 mb-4">
        <div class="text-center">
          <img
            class="mb-2 w-full h-auto"
            src="{% static 'images/Good moral.svg' %}"
            alt="Good Morals"
            style="width: 146.5px; height: 88.81px"
          />
          <p class="font-medium">Good Morals</p>
        </div>
        <div class="text-center">
          <img
            class="mb-2 w-full h-auto"
            src="{% static 'images/Excellence.svg' %}"
            alt="Academic Excellence"
            style="width: 88.81px; height: 88.81px"
          />
          <p class="font-medium">Academic Excellence</p>
        </div>
      </div>
      <div class="flex justify-center space-x-4">
        <div class="text-center">
          <img
            class="mb-2 w-full h-auto"
            src="{% static 'images/Creativity.svg' %}"
            alt="Creativity"
            style="width: 146.5px; height: 88.81px"
          />
          <p class="font-medium">Creativity</p>
        </div>
        <div class="text-center">
          <img
            class="mb-2 w-full h-auto"
            src="{% static 'images/Innovation.svg' %}"
            alt="Innovation"
            style="width: 88.81px; height: 88.81px"
          />
          <p class="text-left pl-3 font-medium">Innovation</p>
        </div>
      </div>
    </div>
  </div>
</section>
