{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'main_navbar.html' %}
<style>
    .leading_text {
        max-width: 400px;
        text-align: center;
    }
</style>
<section class="mt-5">
    <div class="my-3 d-flex flex-column align-items-center">
        <h1 class=" text-center"> CBT Center</h1>
        <p class="leading_text">Welcome to our CBT Center , Kindly enter your Students Details Correctly in order to Proceed
        </p>
    </div>
    <div class="d-flex justify-content-center my-3 mb-5">
        <div class="row justify-content-center align-items-center "
            style="max-width: 800px;box-shadow: 0px 4px 52px 4px #bdb9b954;border-radius: 20px 20px 20px 20px;">
            <div class="col-md ps-0 d-none d-md-block">
                <img src="{% static 'images/Gathering.jpg' %}" alt=""
                    style="width:100%;height: 500px; object-fit:cover;border-radius: 20px 0px 0px 20px;">
            </div>
            <div class="col-md">
                <div class="mt-4 d-flex flex-column align-items-center px-2 py-4 py-md-0">

                    <!-- Alert after Submission  -->

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible alert-success" role="alert">
                          {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <form id="student_info" method="POST" class="form" style="width: 280px;font-weight: 600; color: #052640;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="class">Classes:</label>
                            <select id="class" name="student_class" class="form-select" required>
                                <option value="" selected>--Select your class--</option>
                                {% for class in classobjects %}
                                <option value="{{ class.Class }}">{{ class.Class }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Students">Students List:</label>
                            <select id="Students" name="student_name" class="form-select" required></select>
                        </div>
                        <!-- fields containing now time and date -->
                        <input type="text" id="time" name="time" hidden>
                        <input type="text" id='date' name="date"  hidden>


                        <!-- <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label"> Enter your Student Id </label>
                            <input type="text" class="form-control" placeholder="for example smss/3547" required
                                name="student_id">
                        </div> -->

                        <button id="submit" type="submit" class="btn btn-primary w-100 my-3 shadow-sm"
                            style="display:block;">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'js/Student_Portal/result_Populating.js' %}"></script>
<script src="{% static 'js/Student_Portal/CBT.js' %}"></script>
{% include 'main_footer.html' %}
{% endblock %}